<section class="vh-100 gradient-custom">
  <div class="container">
    <ion-button expand="block" color="red" class="limpiar-button">
      <img class="img" src="../../../assets/atras.png" alt="atras" width="25px">
      ATRAS
    </ion-button>

    <div class="form-container">
      <div class="card">
        <div class="card-body">
          <h2 class="title">Lista de Pedidos</h2>
          <p class="subtitle">Pedidos pendientes del sector cocina</p>

          <ul class="pedido-lista">
            <li *ngFor="let pedido of pedidos" class="pedido-item">
              <div class="pedido-estado">
                <p><strong>Estado:</strong> {{ pedido.cocina.estado }}</p>
              </div>
              <div class="pedido-info">
                <p *ngFor="let producto of pedido.cocina.productos">
                  <strong>Descripción:</strong> {{ producto.nombre }}<br>
                  <strong>Cantidad:</strong> {{ producto.cantidad }}
                </p>
              </div>
              <ion-checkbox (ionChange)="marcarRealizado(pedido.id)" color="success"></ion-checkbox>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
