<section class="vh-100 gradient-custom">
  <div class="container">
    <div class="form-container">
      <div class="card">
        <div class="card-body">
          <h2 class="title">Lista de Pedidos</h2>
          <p class="subtitle">
            Pedidos pendientes del sector {{ userProfile?.rol === 'bartender' ? 'bar' : 'cocina' }}
          </p>

          <ul class="pedido-lista">
            <li *ngFor="let pedido of pedidos" class="pedido-item">
              <div class="pedido-encabezado">
                <p><strong>Mesa:</strong> {{ pedido.mesa }}</p>
                <div class="pedido-acciones">
                  <button (click)="marcarRealizado(pedido.id)" class="accion-boton realizar">✓</button>
                  <button (click)="toggleDetalles(pedido)" class="accion-boton">
                    {{ pedido.mostrarDetalles ? '▲' : '▼' }}
                  </button>
                </div>
              </div>
              <div class="pedido-detalle" *ngIf="pedido.mostrarDetalles">
                <p *ngFor="let producto of (userProfile?.rol === 'bartender' ? pedido.bar.productos : pedido.cocina.productos)">
                  <strong>Descripción:</strong> {{ producto.nombre }}<br>
                  <strong>Cantidad:</strong> {{ producto.cantidad }}
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="btn-logout" (click)="confirmLogout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </div>
    </div>
  </div>
</section>
