<section class="vh-100 gradient-custom">
  <div class="container">
    <ion-button expand="block" color="red" class="limpiar-button">
      <img src="../../../assets/atras.png" alt="escobita" width="25px" >
      ATRAS
    </ion-button>
    <div class="form-container">
      <div class="card">
        <div class="card-body">
          <h2 class="title">Registro</h2>
          <p class="subtitle">Por favor ingrese los datos requeridos</p>
          <!-- Formulario Reactivo -->
          <form [formGroup]="miformulario" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input formControlName="nombre" type="text" class="form-input" />
              <label class="form-label">Nombre</label>
              <div *ngIf="miformulario.get('nombre')?.invalid && miformulario.get('nombre')?.touched">
                <small class="text-danger" *ngIf="miformulario.get('nombre')?.hasError('required')">El nombre es obligatorio.</small>
              </div>
            </div>
            <!-- Botón de Enviar -->
            <button type="submit" [disabled]="miformulario.invalid">
              <span>CREAR CLIENTE</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
