<div class="splash-container">
  <img src="../../../assets/icon/logoSaborAcademico.png" width="2000px" style="display: block; margin: 0 auto;" alt="Survey Logo" class="splash-logo">
  <div class="text-content">
    <h1 class="permanent-marker-regular-sub">División A141</h1>
    <h3 class="permanent-marker-regular h3-animate">Trinidad Faccini</h3>
    <h3 class="permanent-marker-regular h3-animate">Lautaro Monserrat</h3>
    <h3 class="permanent-marker-regular h3-animate">Julián Manuel Rodriguez</h3>
  </div>
</div>
