<section class="vh-100 gradient-custom">
  <div class="container">
    <div class="form-container">
      <ion-button (click)="menuMozo()" expand="block" color="red" class="limpiar-button">
        <img class="img" src="../../../assets/atras.png" alt="atras" width="25px">
        ATRAS
      </ion-button>
      <div class="card">
        <div class="card-body">
          <h2 class="title">Confirmación de Pagos</h2>
          <p class="subtitle">Pedidos en estado pagado</p>

          <ul class="pedido-lista">
            <li *ngFor="let pedido of pedidos" class="pedido-item">
              <div class="pedido-encabezado">
                <p><strong>Mesa:</strong> {{ pedido.mesa }}</p>
                <p><strong>Monto:</strong> ${{ pedido.precio }}</p>
                <div class="pedido-acciones">
                  <button (click)="confirmarPago(pedido.id)" class="accion-boton confirmar">✓</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
