<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <ion-title> <strong>Sabor académico</strong> </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <section class="scanner-section">
    <div *ngIf="ingreso" class="spinner-container">

      <!-- Menu principal -->
      <!-- <ion-button (click)="tryOpenScanner('ingreso')"> -->
      <ion-button (click)="this.router.navigate(['/chat-mozo'])">
        <div class="inside-button">
          <mat-icon>qr_code</mat-icon>
          <span>Escanear ingreso</span>
        </div>
      </ion-button>

      <ion-button (click)="goToMesa()">
        <div class="inside-button">
          <span>Ya tengo mesa</span>
          <mat-icon >keyboard_arrow_right</mat-icon>
        </div>
      </ion-button>

      <ion-button (click)="mostrarEncuestasCliente()">
        <div class="inside-button">
          <span>Ver encuestas</span>
          <mat-icon>bar_chart</mat-icon>
        </div>
      </ion-button>
      
    </div>

    <!-- Seccion "Ya tengo mesa" -->
    <div *ngIf="mesa" class="spinner-container">
      <ion-button (click)="tryOpenScanner('mesa')">
        <div class="inside-button">
          <mat-icon>qr_code</mat-icon>
          <span>Escanear mesa</span>
        </div>
      </ion-button>

      <ion-button (click)="goToIngreso()">
        <div class="inside-button">
          <mat-icon >keyboard_arrow_left</mat-icon>
          <span>Volver atrás</span>
        </div>
      </ion-button>

      <ion-button (click)="mostrarEncuestasCliente()">
        <div class="inside-button">
          <span>Ver encuestas</span>
          <mat-icon>bar_chart</mat-icon>
        </div>
      </ion-button>
    </div>

    <!-- Componente Scanner oculto visualmente -->
    <div style="display: none;">
      <app-qr-scanner (scanResult)="onScanResult($event)"></app-qr-scanner>
    </div>
    
    <div class="btn-logout" (click)="confirmLogout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </div>

  </section>
</ion-content>