<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center custom-title">
      Inicio de sesión
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding login-page">
  <form (ngSubmit)="onSubmit()">
    <ion-input label="Correo electrónico" label-placement="floating" fill="solid" placeholder="Ingrese su correo electrónico..." [formControl]="loginForm.controls.email"></ion-input>
    <ion-input label="Contraseña" type="password" label-placement="floating" fill="solid" placeholder="Ingrese su contraseña..." [formControl]="loginForm.controls.pass"></ion-input>
    <p class="msg-err">{{errorMsg}}</p>

    <div class="login-box">
      <ion-button style="--background-color: var(--mostaza);" size="large" expand="block" type="submit" class="submit-button" [disabled]="!loginForm.valid">
        Iniciar Sesión
      </ion-button>
    </div>
  </form>
  <label class="margenLabelNuevoCliente" color="medium" expand="block" fill="clear" style="display: flex; align-items: baseline;">
    ¿Nuevo cliente?
    <div class="registrarse" (click)="navigateRegister()">Regístrate</div>
  </label>
  <div class="footer">
    <ion-title class="ion-text-center custom-subtitle">Accesos rápidos</ion-title>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="medium" size="large" expand="block" fill="outline" (click)="fillForm('julian@rodriguez.com', '123juli')">🍕</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="medium" size="large" expand="block" fill="outline" (click)="fillForm('lautaromonserrat13@gmail.com', '123lauty')">Mozo</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="medium" size="large" expand="block" fill="outline" (click)="fillForm('trinidad@faccini.com', '123trini')">🌭</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
