.custom-title {
    font-size: 33px;
    font-weight: 800;
    padding: 20px 0px;
    background-color: var(--azul);
    color: var(--arena);
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    --background: var(--azul-claro);
}

.input-item {
    margin-bottom: 20px;
}

ion-input {
    margin-top: 20px;
}

ion-button {
    margin-top: 20px;
}

.login-box {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.msg-err {
    color: rgb(255, 16, 16);
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
    position: absolute;
}

.custom-subtitle {
    font-size: 25px;
    font-weight: bold;
    color: var(--arena);
}

.footer {
    margin-top: 25px;
    padding: 25px 0px;
    background-color: var(--azul);
    border-radius: 3px;
    height: 340px;
}

.registrarse {
    color: blue !important;
    text-decoration: underline;
    margin-left: 5px;
}

.margenLabelNuevoCliente {
    margin-top: 30px;
}

.btn-rapido {
    width: 39vw;
}