body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.gradient-custom {
  background: #6a11cb;
  background: linear-gradient(to bottom, #ad0d0d, #ffee00); /* Degradado */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegúrate de que ocupa toda la altura de la ventana */
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 20px; /* Añadido para mejorar el espacio interno */
}

.card {
  background-color: #343a40;
  border-radius: 1rem;
  padding: 2rem;
  color: white;
  text-align: center;
}

.card-body {
  margin: 0 auto;
}

.title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.subtitle {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 2rem;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.form-input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.form-label {
  position: absolute;
  top: 10px;
  left: 15px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  top: -10px;
  left: 10px;
  font-size: 0.8rem;
  color: white;
}

/* From Uiverse.io by cssbuttons-io */ 
button {
  align-items: center;
  background-image: linear-gradient(144deg, #ad0d0d, #ffee00 50%, #ad0d0d);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

button:active,
button:hover {
  outline: 0;
}

button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

button:hover span {
  background: none;
}

button:active {
  transform: scale(0.9);
}
.text-danger {
  color: red;
  font-size: 12px;  /* Ajusta el tamaño si es necesario */
}


.buttonAnonimo {
  --green: #1BFD9C;
  font-size: 15px;
  padding: 0.7em 2.7em; /* Ajusta el padding para el tamaño general */
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
  
  /* Tamaño del botón */
  width: 200px; /* Ancho fijo; ajusta según lo necesites */
  height: 50px; /* Altura fija; ajusta según lo necesites */
  
  /* Para centrar el texto en el botón */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Margen y centrado */
  margin: 0 auto; /* Centrar el botón */
  margin-bottom: 20px; /* Margen inferior; ajusta según lo necesites */

  /* Efecto hover */
  transition: all 0.3s;
}

.buttonAnonimo:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.buttonAnonimo:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
}

.buttonAnonimo:hover:before {
  transform: translateX(15em);
}
.limpiar-button {
  --padding-start: 15px;
  --padding-end: 15px;
  --min-height: 30px;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 50px;
  background-color: #a8adb3;
  color : black;
}
.img{
  margin-right: 15px ;
}

.upload-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.submit-button {
  flex: 1;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.upload-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: 10px;
}
