<section class="vh-100 gradient-custom">
  <div class="container">
    <div class="form-container">
      <div class="card">
        <div class="card-body">
          <h2 class="title">Registro</h2>
          <p class="subtitle">Por favor ingrese los datos requeridos</p>
          <div class="form-group">
            <input [(ngModel)]="nombre" type="text" class="form-input" required />
            <label class="form-label">Nombre</label>
          </div>
          <div class="form-group">
            <input [(ngModel)]="apellido" type="text" class="form-input" required />
            <label class="form-label">Apellido</label>
          </div>
          <div class="form-group">
            <input type="password" [(ngModel)]="dni" class="form-input" required />
            <label class="form-label">DNI</label>
          </div>
          <div class="form-group">
            <input [(ngModel)]="email" type="email" class="form-input" required />
            <label class="form-label">Correo</label>
          </div>
          <div class="form-group">
            <input type="password" [(ngModel)]="password" class="form-input" required />
            <label class="form-label">Contraseña</label>
          </div>
          <div class="form-group">
            <input type="password" [(ngModel)]="password" class="form-input" required />
            <label class="form-label">Confirmar contraseña</label>
          </div>
        </div>
        <button>
          <span>CREAR CLIENTE</span>
        </button>
      </div>
    </div>
  </div>
</section>
