<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <ion-title> <strong>Consulta al mozo</strong> </ion-title>
      <button class="btn btn-primary btn-salir" (click)="volver()">Salir</button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="chat" id="chat">
    <div>
      <app-spinner></app-spinner>
    </div>
    @for (message of messages; track $index) {
      @if(message.userID === user.uid) {
        <div class="chat-message chat-message-me">
          <div class="chat-message-text">{{ message.mensaje }}</div>
          <div class="chat-message-time">{{ formatTimestamp(message.fecha) }}</div>
        </div>
      }
      @else {
        <div class="chat-message chat-message-other">
          <div class="chat-message-user"><b>{{ message.usuario }}</b></div>
          <div class="chat-message-text">{{ message.mensaje }}</div>
          <div class="chat-message-time">{{ formatTimestamp(message.fecha) }}</div>
        </div>
      }
    }
  </div>
  <div class="input-mes">
    <input type="text" class="form-control" placeholder="Escribe un mensaje..." [(ngModel)]="messageText" (keyup.enter)="sendMessage()">
    <button class="btn btn-primary btn-enviar" (click)="sendMessage()">Enviar</button>
  </div>
</ion-content>
