<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <ion-title>
        <strong>Sabor Académico</strong>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <section class="scanner-section">
    <div class="spinner-container">
      <ion-button (click)="escanearQR()" expand="block" class="admin-button" *ngIf="this.estadoPedido != 'recibido'">
        <div class="inside-button">
          <span> {{estadoPedido == 'listo para servir' ? 'Recibi mi pedido' : 'Escanear QR'}}</span>
          <mat-icon class="icon">qr_code</mat-icon>
        </div>
      </ion-button>

      <ion-button (click)="escanearQR()" expand="block" class="admin-button" *ngIf="this.estadoPedido == 'recibido'"> 
        <div class="inside-button">
          <span> Pedir cuenta </span>
          <mat-icon class="icon">qr_code</mat-icon>
        </div>
      </ion-button>
  
      <ion-button (click)="mostrarEncuestasCliente()" expand="block" class="admin-button">
        <div class="inside-button">
          <span>Ver encuestas</span>
          <mat-icon class="icon">bar_chart</mat-icon>
        </div>
      </ion-button>
  
      <ion-button (click)="abrirChat()" expand="block" class="admin-button">
        <div class="inside-button">
          <span>Consultar a mozos</span>
          <mat-icon class="icon">forum</mat-icon>
        </div>
      </ion-button>
      
      <ion-button (click)="realizarEncuestaCliente()" expand="block" class="admin-button">
        <div class="inside-button">
          <span>Llenar encuesta</span>
          <div class="div-encuesta">
            <mat-icon class="icon">sentiment_satisfied</mat-icon>
            <mat-icon class="icon">sentiment_dissatisfied</mat-icon>
          </div>
        </div>
      </ion-button>
    </div>

    <div style="display: none;">
      <app-qr-scanner (scanResult)="onScanResult($event)"></app-qr-scanner>
    </div>

    <div class="btn-logout" (click)="confirmLogout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </div>
  </section>
</ion-content>
