<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center custom-title">
      <strong>Inicio de sesión</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding login-page">
  <form (ngSubmit)="onSubmit()">
    <ion-input label="Correo electrónico" label-placement="floating" fill="solid" placeholder="Ingrese su correo electrónico..." [formControl]="loginForm.controls.email"></ion-input>
    <ion-input label="Contraseña" type="password" label-placement="floating" fill="solid" placeholder="Ingrese su contraseña..." [formControl]="loginForm.controls.pass"></ion-input>
    <p class="msg-err">{{errorMsg}}</p>

    <div class="login-box">
      <ion-button size="large" expand="block" color="medium" type="submit" class="btn-logins" [disabled]="!loginForm.valid">Iniciar Sesión</ion-button>
    </div>
  </form>

  <div class="footer">
    <ion-title class="ion-text-center custom-subtitle">Accesos rápidos</ion-title>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="medium" size="large" expand="block" fill="outline" (click)="fillForm('julian@rodriguez.com', '123juli')">🍕</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="medium" size="large" expand="block" fill="outline" (click)="fillForm('lautaro@monserrat.com', '123lau')">🍔</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="medium" size="large" expand="block" fill="outline" (click)="fillForm('trinidad@faccini.com', '123trini')">🌭</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
