<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <strong>Sabor Académico</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <app-spinner></app-spinner>
  </div>
  <div id="container">
    <ion-button size="large" expand="block" fill="outline" (click)="notificacionTest()">Prueba Notificacion</ion-button>
    <ion-button size="large" expand="block" fill="outline" (click)="accesoChat()">Consulta mozos</ion-button>
    <ion-button size="large" expand="block" fill="outline" (click)="cerrarSesion()">Cerrar sesión</ion-button>
  </div>
</ion-content>
