<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <ion-title>
        <strong>Sabor Académico</strong>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <section class="admin-menu-section">
    <ion-button (click)="gestionUsuarios()" expand="block" class="admin-button">
      <div class="inside-button">
        <span>Gestión de usuarios</span>
        <mat-icon class="icon">admin_panel_settings</mat-icon>
      </div>
    </ion-button>
    <div class="btn-logout" (click)="confirmLogout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </div>
  </section>
</ion-content>
