<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <ion-title>
        <strong>Sabor Académico</strong>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <app-spinner></app-spinner>
  </div>
  <!-- <div id="container">
    <h2>Menu maitre</h2>
    
    <ion-button size="large" expand="block" fill="outline" (click)="router.navigate(['/gestion-ingresos'])">Lista de espera</ion-button>

    <div class="btn-logout" (click)="confirmLogout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </div>
  </div> -->
  <section class="admin-menu-section">
    <ion-button (click)="router.navigate(['/gestion-ingresos'])" expand="block" class="admin-button">
      <div class="inside-button">
        <span>Gestionar ingreso al local</span>
        <mat-icon class="icon">storefront</mat-icon>
      </div>
    </ion-button>
    <div class="btn-logout" (click)="confirmLogout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </div>
  </section>
</ion-content>
