<div class="scanner-container">
  <!-- Botón para iniciar el escaneo -->
  <ion-button (click)="startScan()" color="primary" expand="block">
    <mat-icon>qr_code</mat-icon>
    ESCANEAR DNI
  </ion-button>

  <!-- Botón para detener el escaneo -->
  <!-- <ion-button expand="block" color="danger" (click)="stopScan()">Detener Escaneo</ion-button> -->

  <!-- Muestra el resultado escaneado -->
  <!-- <div *ngIf="scannedResult">
    <p>Resultado Escaneado: {{ scannedResult }}</p>
  </div> -->
</div>
